import java.util.Scanner;

public class DezInBin {

    static void translateDezInBin(){

        Scanner input = new Scanner(System.in);

        System.out.println("Dezimalzahl: ");

        int  dezNumber= input.nextInt();

        while (dezNumber != 0){
            System.out.println(dezNumber % 2);
            dezNumber=dezNumber/2;
        }
    }

    public static void main(String[] args){

        translateDezInBin();

    }
}
